/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	color: black;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

h4 {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

/** mode edition **/

#mode-edition p  {
	background: black;
	color: white;
	display: flex;
	height: 50px;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;

}


header {
	display: flex;
	justify-content: space-between;
	margin: 70px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#modification{
	display: flex;
	
}

.modifier_container {
	display: flex;
	gap: 10px;
	align-items: baseline;
	justify-content: center;
}

.filtres {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.filtres>* {
	color: #1D6154;
	border-radius: 25px;
	font-family: "syne";
	border: 1px solid #1D6154;
	padding: 10px;
	cursor: pointer;
}

.filtres>*:hover {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 2em;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
	justify-content: center;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

#messageErreur {
	text-align: center;
	color: red;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* Modal conteneur général */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

/* Conteneur de la fenêtre modale */
.modal-wrapper {
	position: relative;
	max-width: 500px;
	margin: auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.modal-thumbnail {
	width: 70px;
	height: auto;
	object-fit: cover;
}

.image-container {
	position: relative;
	display: inline-block;
}

.trash-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	padding: 5px;
	cursor: pointer;
}

.trash-icon i {
	color: white;
	font-size: 10px;
}

#modal1 {
	display: none;
}

/* Galerie modale principale */
.gallery-modal {
	text-align: center;
	justify-content: center;
}

/* Bouton pour fermer la modale */
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

/* Conteneur de la galerie de photos */
.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 35px;
}

/* Bouton Ajouter une photo */
.add-photo-button {
	padding: 10px 40px;
	font-size: 1rem;
	cursor: pointer;
	border: none;
	background-color: #1D6154;
	color: white;
	margin: 35px;
	border-radius: 60px;
}
 
  .add-photo-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px;
  }
  
  .close-add-photo-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
  }
  
  
  .fa-arrow-left {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	cursor: pointer;
	color: #333;
  }
  
  form {
	width: 80%;
  }
  
  .file-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #E8F1F6;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;
	text-align: center;
	margin-top: 25px;
  }

  
  
  .file-section i {
	font-size: 50px;
	color: #ccc;
	margin-bottom: 10px;
  }
  
  .picture-loaded {
	color: #888;
	font-size: 14px;
	margin-top: 5px;
  }
  
  label.picture-loaded {
	font-size: 16px;
	color: #306685;
	cursor: pointer;
	border: none;
	margin-bottom: 5px;
	background-color: #CBD6DC;
	border-radius: 20px;
	width: 60%;
	height: 30px;
	display: flex;
	justify-content: center;
	padding: 6px;
  }

  
  
  #upload-photo {
	display: none; /* Cache l'input de type file par défaut */
  }
  
  label {
	font-size: 16px;
	font-weight: 500;
	color: #333;
	margin-top: 10px;
  }
  
  #input_titre,
  #input_categorie {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 14px;
  }
  
  select#input_categorie {
	appearance: none;
  }
  
  input[type="submit"] {
	width: 80%;
	padding: 10px;
	background-color: #A7A7A7;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: flex;
	justify-content: center;
  }
  
  input[type="submit"]:hover {
	background-color: #555;
  }
  
 

  #modal1, #modal2 {
	display: none;
  }

  #open-modal {
	display: none;
  }

  
  #gallery img {
	width: 100%;
	max-width: 300px;
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
  }
  
  #image-preview {
	width: 100%;
	height: 200px;
	object-fit: cover;
  }
  
  #submit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #A7A7A7; 
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    
}

#submit-button.enabled-button {
    background-color: #1D6154;
}

